.aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header TELEGRAM BOT

      li(ui-sref-active="active")
        a(href='#' ui-sref='admin.pharmacy')
          i.fa.fa-line-chart
          span Pharmacy
      li(ui-sref-active="active")
        a(href='#' ui-sref='admin.products')
          i.fa.fa-list
          span Products
      li(ui-sref-active="active")
        a(href='#' ui-sref='admin.orders')
          i.fa.fa-dollar
          span Orders    
      li(ui-sref-active="active")
        a(href='#' ui-sref='admin.map')
          i.fa.fa-map-marker
          span Map
