.login-logo
  | Pharmacy
  b BOT
.login-box-body(style="padding-bottom: 0px")
  h4.login-box-msg Sign in to start your session

  .form-group.has-error
    .help-block(ng-show="signin.errorMsg" align="center") {{signin.errorMsg}}

  form.form(name='form' ng-submit='signin.onSubmit(form)' novalidate)
    .box-body
      .form-group(ng-class="{'has-error': form.email.$invalid && form.$submitted}")
        label Email
        input.form-control(type='email' name='email' ng-model='signin.form.email' required)
        ng-messages(for='form.email.$error' ng-show='form.email.$invalid && form.$submitted')
          ng-message.help-block(when='required' ng-hide="form.email.$error.email") Email is required
          ng-message.help-block(when='email' ng-hide="form.email.$error.required") Email is not valid

      .form-group(ng-class="{'has-error': form.password.$invalid && form.$submitted}")
        label Password
        input.form-control(type='password' name='password' ng-model='signin.form.password' required ng-minlength="6")
        ng-messages(for='form.password.$error' ng-show='form.password.$invalid && form.$submitted')
          ng-message.help-block(when='required' ng-hide="form.password.$error.minlength") Password is required
          ng-message.help-block(when='minlength' ng-hide="form.password.$error.required") Min length equal 6

    .box-footer.clearfix
      div.pull-left
        button.btn.btn-primary(type='submit')
          | Login
      div.pull-right
        a(ui-sref='auth.signup') Register
