section.content-header
  h1
    | Products
    small list of products

section.content
  .box
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th Product Name
            th Price
            th Quantity
            th Producer
            th Location
        tbody
          tr(ng-repeat="product in vm.pager.products" ng-click="vm.goTo(product._id)")
            td
              b {{ product.name }}
            td {{ product.price }}
            td {{ product.quantityWH }}
            td {{ product.producer }}
            td
              a(href="#")
                i.fa.fa-map-marker(style="margin-right: 5px")
                | Show on map
    .box-footer.clearfix
      ul.no-margin.pagination-sm.pull-right(uib-pagination ng-model="vm.pager.currentPage" boundary-link-numbers="true" total-items="vm.pager.totalItems" ng-change="vm.pageChanged()" max-size="vm.pager.maxSize")
